fastapi
uvicorn
pydantic
yt-dlp
youtube-transcript-api
python-dotenv
faster_whisper
fastembed
qdrant_client
apify-client

langchain
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-groq
langchain-google-genai

pinecone

google-generativeai